@using LocadoraDeVeiculos.WebApp.Models
@model DetalhesGrupoDeAutomoveisViewModel

@{
    ViewBag.Title = "Excluir Grupo de Automóveis";
    var podeExcluir = Model.Planos.Count == 0;
}

<div class="col">
    <partial name="_Informacoes" model="Model"></partial>

    <form class="d-grid gap-2 d-md-block mt-5" asp-action="Excluir">
        @if (podeExcluir)
        {
            <button class="btn btn-danger" style="width: 190px">
                <i class="bi bi-trash-fill me-1"></i>
                Confirmar
            </button>
        }
        <a class="btn btn-outline-secondary px-5" style="width: 190px" href="/GrupoDeAutomoveis/listar">
            <i class="bi bi-arrow-return-left me-1"></i>
            Voltar
        </a>
    </form>
</div>
