@using LocadoraDeVeiculos.WebApp.Models
@model DetalhesTaxaViewModel

@{
    ViewBag.Title = "Detalhes do Grupo";
}

<div class="col">
    <partial name="_Informacoes" model="Model"></partial>

    <a href="/Taxa/listar" class="btn btn-outline-secondary px-5 my-3">
        <i class="bi bi-arrow-return-left me-1"></i>
        Voltar
    </a>
</div>