@using LocadoraDeVeiculos.WebApp.Models
@model DetalhesVeiculosViewModel

@{
    ViewBag.Title = "Detalhes do Veículo";
}

<div class="col">
    <partial name="_Informacoes" model="Model"></partial>

    <a href="/Veiculo/listar" class="btn btn-outline-secondary px-5 mb-10" style="width: 185px">
        <i class="bi bi-arrow-return-left me-1" style="width: 160px"></i>
        Voltar
    </a>
</div>