@using LocadoraDeVeiculos.Dominio.ModuloVeiculo
@using LocadoraDeVeiculos.WebApp.Models
@model InserirVeiculosViewModel

@{
    ViewBag.Title = "Inserir novo veículo";
}

<div class="col">
    <div class="row gap-3 my-3 my-xl-5">
        <form class="col-lg-6 d-grid gap-3" asp-action="Inserir" enctype="multipart/form-data">
            <div>
                <label class="control-label fw-bold mb-1">Grupo de Automóveis</label>
                <select class="form-select mb-1" asp-for="GrupoId" asp-items="Model.Grupos">
                    <option value="" selected disabled></option>
                </select>
                <span class="text-danger fs-6" asp-validation-for="GrupoId"></span>
            </div>

            <div>
                <label class="control-label fw-bold mb-1 mt-2">Placa</label>
                <input class="form-control mb-1" asp-for="Placa" id="placa"/>
                <span class="text-danger fs-6" asp-validation-for="Placa"></span>
            </div>

            <div>
                <label class="control-label fw-bold mb-1 mt-2">Modelo</label>
                <input class="form-control mb-1" asp-for="Modelo" />
                <span class="text-danger fs-6" asp-validation-for="Modelo"></span>
            </div>

            <div>
                <label class="control-label fw-bold mb-1 mt-2">Marca</label>
                <input class="form-control mb-1" asp-for="Marca" />
                <span class="text-danger fs-6" asp-validation-for="Marca"></span>
            </div>

            <div>
                <label class="control-label fw-bold mb-1 mt-2">Cor</label>
                <input class="form-control mb-1" asp-for="Cor" />
                <span class="text-danger fs-6" asp-validation-for="Cor"></span>
            </div>

            <div>
                <label class="control-label fw-bold mb-1 mt-2">Ano</label>
                <input type="number" class="form-control mb-1" asp-for="Ano" />
                <span class="text-danger fs-6" asp-validation-for="Ano"></span>
            </div>

            <div>
                <label class="control-label fw-bold mb-1 mt-2">Tipo de combustível</label>
                <select class="form-select mb-1" asp-for="TipoCombustivel" asp-items="Model.TiposDeCombustiveis">
                    <option value="" selected disabled>Selecione o combustível</option>
                </select>
                <span class="text-danger fs-6" asp-validation-for="TipoCombustivel"></span>
            </div>

            <div>
                <label class="control-label fw-bold mb-1 mt-2">Capacidade de Combustível</label>
                <input type="number" class="form-control mb-1" asp-for="CapacidadeCombustivel" />
                <span class="text-danger fs-6" asp-validation-for="CapacidadeCombustivel"></span>
            </div>

            <div>
                <label class="control-label fw-bold mb-1 mt-2">Foto do veículo (opcional)</label>
                <div class="d-flex align-items-center">
                    <input type="file" class="form-control mb-1" style="max-width: 400px" asp-for="Foto" id="fotoInput" style="max-width: 300px;" />

                    <img id="fotoPreview"
                         src="@((Model.ImagemEmBytes != null && Model.TipoDaImagem != null) ?
                         $"data:{Model.TipoDaImagem};base64,{Convert.ToBase64String(Model.ImagemEmBytes)}" :
                         Url.Content("~/img/carro.jpg"))"
                         alt="Pré-visualização"
                         style="display:block; margin-left:30px; max-width:130px; height:auto;" />
                </div>
                <span class="text-danger fs-6" asp-validation-for="Foto"></span>
            </div>

            <div class="d-flex justify-content-center gap-3 mt-3 mb-5">
                <button class="btn btn-secondary px-5" style="width: 170px">
                    <i class="bi bi-floppy-fill me-1"></i>
                    Gravar
                </button>

                <a class="btn btn-outline-secondary px-5" style="width: 170px" href="/Veiculo/listar">
                    <i class="bi bi-arrow-return-left me-1"></i>
                    Voltar
                </a>
            </div>
        </form>
    </div>
</div>

<script>
    document.getElementById('fotoInput').addEventListener('change', function (event) {       
        const fotoInput = event.target;
        const fotoPreview = document.getElementById('fotoPreview');

        if (fotoInput.files && fotoInput.files[0]) {
            const reader = new FileReader();

            reader.onload = function (e) {
                fotoPreview.src = e.target.result;
            };

            reader.readAsDataURL(fotoInput.files[0]);
        } else {
            fotoPreview.src = "@(Model.ImagemEmBytes != null ? $"data:{Model.TipoDaImagem};base64,{Convert.ToBase64String(Model.ImagemEmBytes)}" : Url.Content("~/img/carro.jpg"))";
        }
    });
</script>