@using LocadoraDeVeiculos.WebApp.Models
@model DetalhesCondutorViewModel

@{
    ViewBag.Title = "Detalhes do Condutor";
}

<div class="col">
    <partial name="_Informacoes" model="Model"></partial>

    <a href="/Condutor/listar" style="width: 170px" class="btn btn-outline-secondary px-5 mb-5" style="width: 185px">
        <i class="bi bi-arrow-return-left me-1"></i>
        Voltar
    </a>
</div>