@using LocadoraDeVeiculos.WebApp.Models
@{
    string caminho = Context.Request.Path;

    var grupoAtivo = caminho.StartsWith("/GrupoDeAutomoveis") ? "nav-link active fw-semibold" : "nav-link";
    var veiculoAtivo = caminho.StartsWith("/Veiculos") ? "nav-link active fw-semibold" : "nav-link";

    MensagemViewModel? mensagem = ViewBag.Mensagem ?? null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />

    <title>@ViewBag.Title - Locadora De Veículos</title>

    <link rel="icon" type="image/png" href="~/img/rato1.png" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/LocadoraDeVeiculos.WebApp.styles.css" asp-append-version="true" />

    <style>
        body {
            font-family: 'Roboto Condensed', sans-serif;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
        }

        .navbar-light .navbar-brand {
            color: #555;
            display: flex;
            align-items: center;
            font-size: 22px;
        }

            .navbar-light .navbar-brand img {
                margin-right: 0.5rem;
                width: 32px;
                height: auto;
            }

        .navbar-light .navbar-nav .nav-link {
            color: #555;
        }

        .footer[b-9c60xkqeqy] {
            line-height: 40px;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom mb-5">
            <div class="container">
                <a class="navbar-brand fw-bold" asp-controller="Home" asp-action="Index">
                    <img src="~/img/rato1.png" alt="Ícone de Rato"> Locadora de Veículos Afonso
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Início</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="container mt-4">
        <div class="row px-2">
            <h3 class="text-light-emphasis">@ViewBag.Title</h3>
            <hr />
            <partial name="_Mensagem" model="mensagem"></partial>
            @RenderBody()
        </div>
    </main>

    <footer class="border-top footer bg-light text-muted text-center position-fixed sticky-bottom">
        <div class="container">
            &copy; 2024 - Locadora de Veículos Afonso
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>