@using LocadoraDeVeiculos.WebApp.Models
@model InserirGrupoDeAutomoveisViewModel

@{
    ViewBag.Title = "Inserir novo grupo";
}

<div class="col">
    <div class="row gap-3 my-3 my-xl-5">
        <form class="col-lg-6 d-grid gap-3" asp-action="Inserir">
            <div>
                <label class="control-label fw-bold mb-1">Nome</label>
                <input class="form-control mb-1" asp-for="Nome" />
                <span class="text-danger fs-6" asp-validation-for="Nome"></span>
            </div>

            <div class="d-flex justify-content-center gap-3 mt-3">
                <button class="btn btn-secondary px-5" style="width: 160px">
                    <i class="bi bi-floppy-fill me-1"></i>
                    Gravar
                </button>

                <a class="btn btn-outline-secondary px-5" style="width: 160px" href="/GrupoDeAutomoveis/listar">
                    <i class="bi bi-arrow-return-left me-1"></i>
                    Voltar
                </a>
            </div>
        </form>
    </div>
</div>